{%  extends 'pk_main_website/base.html' %}

{% block content %}

<div id="layoutSidenav_content"> 
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Boards</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">{{ user_name }} | Boards</li>
            </ol>

            <div class="row">

                <!-- <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">Board 1</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">Board 2</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">Board 3</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">Board 4</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-xl-3 col-md-6">
                    <div class="card text-white mb-4">
                        <div class="card-body"><a href="#">Create Board</div></a></div>                                
                    </div>
                </div> -->

                <!-- <form method="POST" action="">
                    {% csrf_token %}

                    <h3>Add new Board: {{board_form.board_title}}</h3> -->
                    <!-- <h3>Owner: {{board_form.owner}}</h3> -->
                    <!-- <input class="btn btn-info" type="submit" name="Create Task" value="Create"> <br><br>
                    <br><br>

                </form> -->

                <!-- Render Board  -->
                {% for board in boards %}

                    <div class="col-xl-3 col-md-6">
                        <div class="card  text-black mb-4">
                            <div class="card-body">{{ board }} </div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-black stretched-link" href="{% url 'board_detail' board.id %}">View Board</a>
                            
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                
                            </div>
                            
                        </div>
                    </div>

                    {% if not forloop.last %},{% endif %} 

                {% endfor %}

                <div class="col-xl-3 col-md-6">
                    <div class="card text-white mb-4">
                        <div class="card-body"><a href="{% url 'board_creation' %}">Create Board</div></a></div>                                
                    </div>
                </div>

            </div>     
        </div>
    </main>
</div>
</div> -->

{% endblock %}