{%  extends 'pk_main_website/base.html' %}
{% block content %}


<div id="layoutSidenav_content"> 
    <main>
        <div class="container-fluid">
            <!-- <h1 class="mt-4">Boards</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">{{ user_name }} | Boards</li>
            </ol> -->
            

            <div class="row">

               <div class="center-column">

    <!-- <h1 style="color: brown;">Task</h1> -->

    <form method="POST" action="">
        {% csrf_token %}
        <h3>Add Task: {{form.task_name}}</h3>
        <h3>Owner Task: {{form.owner}}</h3>
        
        <input class="btn btn-info" type="submit" name="Create Task" value="Create">
    </form>

    <div class="todo-list">

        {% for task in tasks %}

            <div class="item-row">
                <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>
                <a class="btn btn-sm btn-danger" href="{% url 'delete_task' task.id %}">Delete</a>

                {% if task.complete == True %}
                    <strike> {{ task }} </strike>
                {% else %}
                    <span> {{task}} </span>
                {% endif %}
            </div>

        {% endfor %}

    </div>
</div>

                

                

            </div>     
        </div>
    </main>
</div>
</div> 

{% endblock %}


